body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3a3838;
    color: #6e6262;
}

h1 {
    margin: 0;
}

main {
    padding: 10px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;

}